* {
    padding: 0;
    margin: 0;
}


html, body {
    font-family: 'Jura', serif;
    color: aliceblue;
    font-size: 20px;
    height: 100%;
}

.navbar {
    background-color: rgba(64, 53, 221, 0.158);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.navbar p {
    font-size: 30px;
    padding-left: 1em;
}

a {
    text-decoration: none;
    color: rgb(124, 194, 255);
}
a:hover {
    color: gray
}

input {
    height: auto;
    width: 100px;
}

section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 77%;
}

.leftbar {
    grid-column: 1/3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
}
.leftbar a {
    padding: 1em 0.5em 1em 1em;
}
.leftbar p {
    text-align: center;
    padding: 0.5em;
}

.content {
    grid-column: 3/13;
}
.content p {
    text-align: justify;
    padding: 0.5em 0.5em 1em 1em;
}

footer {
    text-align: center;
    font-size: 10px;
}

.active {
    color: gray
}
.reverse {
    display: none;
}

@media (max-width: 600px) {
    .navbar {
        justify-content: center;
        flex-direction: column;
    }
    .main-heading {
        display: none;
    } 
    .logo {
        padding: 0;
    }
    a img {
        height: auto;
        width: 100px;
        padding-right: 0;
    }

    .leftbar {
        display: none;
    }

    .content {
        grid-column: 1/13;
    }
    .content p {
        padding: 0.5em;
    }
    
    .reverse {
        text-align: center;
        display: block;
        background-color: rgba(0, 0, 0, 0.301);
    }
    body {
        background-image: none;
        background-color: rgb(17, 17, 66);
    }
}